In [1]:
import pandas as pd
import seaborn as sb
import pylab as py
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import folium
from folium import plugins
from geopy.geocoders import Nominatim
import datetime
import statsmodels.api as sm

# Purpose: To figure out the increase in cost incurred, for every % increase in Cancer Incidence in Singapore

In [55]:
df = pd.read_csv("health-expenditure2.csv")
df

    Year  Current health expenditure (% of GDP)
0   2000                               3.343364
1   2001                               3.163027
2   2002                               3.358464
3   2003                               3.606992
4   2004                               3.150198
5   2005                               3.033679
6   2006                               2.934747
7   2007                               2.837491
8   2008                               3.194885
9   2009                               3.398531
10  2010                               3.202654
11  2011                               3.157922
12  2012                               3.327837
13  2013                               3.685627
14  2014                               3.871557
15  2015                               4.180698
16  2016                               4.391923
17  2017                               4.364188
18  2018                               4.085202
19  2019                               4.081529

In [56]:
df['%increase'] = 0

In [57]:
i = 1
while i < len(df):
    df['%increase'][i] = 100*(df['Current health expenditure (% of GDP)'][i] - df['Current health expenditure (% of GDP)'][i-1])/(df['Current health expenditure (% of GDP)'][i-1])
    i += 1

C:\Users\colin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [58]:
# i = 1
# while i < len(df):
#     df['%increase'][i] = 100*(df['Government Health Expenditure1 ($m)'][i] - df['Government Health Expenditure1 ($m)'][i-1])/(df['Government Health Expenditure1 ($m)'][i-1])
#     i += 1

In [59]:
df

    Year  Current health expenditure (% of GDP)  %increase
0   2000                               3.343364          0
1   2001                               3.163027         -5
2   2002                               3.358464          6
3   2003                               3.606992          7
4   2004                               3.150198        -12
5   2005                               3.033679         -3
6   2006                               2.934747         -3
7   2007                               2.837491         -3
8   2008                               3.194885         12
9   2009                               3.398531          6
10  2010                               3.202654         -5
11  2011                               3.157922         -1
12  2012                               3.327837          5
13  2013                               3.685627         10
14  2014                               3.871557          5
15  2015                               4.180698          7
16  2016                               4.391923          5
17  2017                               4.364188          0
18  2018                               4.085202         -6
19  2019                               4.081529          0

In [ ]:
# # for index, rows in df.iterrows():
# #       print(int(rows['Government Health Expenditure1 ($m)']) - int(rows['Government Health Expenditure1 ($m)']))
# #      print(rows['Government Health Expenditure1 ($m)'])
# #     print(rows)

# i row = row["Government Health Expenditure"]
# i-1 th row = df[[index-1]]["Government Health Expenditure"]

In [60]:
df1 = pd.read_csv("sg-breast-cancer.csv")
df1

    Year  Cancer
0   1972   134.4
1   1977   172.4
2   1982   247.4
3   1987   347.4
4   1992   526.6
5   1997   720.0
6   2002  1116.2
7   2007  1371.4
8   2012  1712.8
9   2017  2167.4
10  2018  2351.0

In [61]:
Y = df1["Cancer"]
# Y = df1.astype(float)
X = df1["Year"]

X = sm.add_constant(X)
model = sm.OLS(Y, X)

# Fit the model
model_fit = model.fit()

# # Print the model summary
print(model_fit.summary())

sg_cancer_df = pd.DataFrame()
sg_cancer_df.insert(0, 'Year', range(2000, 2020))
sg_cancer_df["Cancer"] = model_fit.predict(sm.add_constant(sg_cancer_df["Year"]))
sg_cancer_df.to_csv("sg-cancer.csv")

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Cancer   R-squared:                       0.927
Model:                            OLS   Adj. R-squared:                  0.919
Method:                 Least Squares   F-statistic:                     114.5
Date:                Thu, 31 Mar 2022   Prob (F-statistic):           2.03e-06
Time:                        15:25:02   Log-Likelihood:                -74.359
No. Observations:                  11   AIC:                             152.7
Df Residuals:                       9   BIC:                             153.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -9.636e+04   9097.421    -10.592      0.000   -1.17e+05   -7.58e+04
Year          48.7539      4.556     10.700      0.000      38.447      59.061
==============================================================================
Omnibus:                        1.462   Durbin-Watson:                   0.404
Prob(Omnibus):                  0.481   Jarque-Bera (JB):                0.917
Skew:                           0.391   Prob(JB):                        0.632
Kurtosis:                       1.821   Cond. No.                     2.61e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.61e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [62]:
df2 = pd.read_csv('sg-cancer.csv')
df2

    Unnamed: 0  Year       Cancer
0            0  2000  1151.899539
1            1  2001  1200.653456
2            2  2002  1249.407373
3            3  2003  1298.161290
4            4  2004  1346.915207
5            5  2005  1395.669124
6            6  2006  1444.423041
7            7  2007  1493.176959
8            8  2008  1541.930876
9            9  2009  1590.684793
10          10  2010  1639.438710
11          11  2011  1688.192627
12          12  2012  1736.946544
13          13  2013  1785.700461
14          14  2014  1834.454378
15          15  2015  1883.208295
16          16  2016  1931.962212
17          17  2017  1980.716129
18          18  2018  2029.470046
19          19  2019  2078.223963

In [28]:
df2['%increase'] = 0.0

In [30]:
i = 1
while i < len(df1):
    df2['%increase'][i] = 100*(df2['Cancer'][i] - df2['Cancer'][i-1])/(df2['Cancer'][i-1])
    i += 1

C:\Users\colin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [65]:
df2

    Year       Cancer
0   2000  1151.899539
1   2001  1200.653456
2   2002  1249.407373
3   2003  1298.161290
4   2004  1346.915207
5   2005  1395.669124
6   2006  1444.423041
7   2007  1493.176959
8   2008  1541.930876
9   2009  1590.684793
10  2010  1639.438710
11  2011  1688.192627
12  2012  1736.946544
13  2013  1785.700461
14  2014  1834.454378
15  2015  1883.208295
16  2016  1931.962212
17  2017  1980.716129
18  2018  2029.470046
19  2019  2078.223963

In [64]:
df2 = df2.drop(columns = "Unnamed: 0")

In [66]:
# df2 = df2[df2['Year'] > 1999]
X = df2['Cancer']
X = X.reset_index().drop(columns = 'index')

# df = df[df['Year'] < 2011]
y = df['Current health expenditure (% of GDP)']
y = y.reset_index().drop(columns = 'index')
y = y.astype(int)

# Define the modell
X = sm.add_constant(X)
model = sm.OLS(y, X)

# Fit the model
model_fit = model.fit()

# Print the model summary
print(model_fit.summary())

                                      OLS Regression Results
=================================================================================================
Dep. Variable:     Current health expenditure (% of GDP)   R-squared:                       0.434
Model:                                               OLS   Adj. R-squared:                  0.403
Method:                                    Least Squares   F-statistic:                     13.83
Date:                                   Thu, 31 Mar 2022   Prob (F-statistic):            0.00157
Time:                                           15:25:20   Log-Likelihood:                -11.517
No. Observations:                                     20   AIC:                             27.03
Df Residuals:                                         18   BIC:                             29.03
Df Model:                                              1
Covariance Type:                               nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.9831      0.592      1.662      0.114      -0.260       2.226
Cancer         0.0013      0.000      3.718      0.002       0.001       0.002
==============================================================================
Omnibus:                        3.648   Durbin-Watson:                   0.796
Prob(Omnibus):                  0.161   Jarque-Bera (JB):                2.644
Skew:                          -0.887   Prob(JB):                        0.267
Kurtosis:                       2.851   Cond. No.                     9.56e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.56e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
sb.regplot(x=X['%increase'], y=y['Current health expenditure (% of GDP)'])