In [1]:
import pandas as pd
import seaborn as sb
import pylab as py
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import folium
from folium import plugins
from geopy.geocoders import Nominatim
import datetime
import statsmodels.api as sm

In [2]:
df = pd.read_csv('microplastics-in-ocean.csv')
df.head()

,Year,Accumulated ocean plastic: Microplastics (<0.5cm),Yearly Microplastics Emission
0,1950,0,0
1,1951,0,0
2,1952,0,0
3,1953,0,0
4,1954,100,100

In [3]:
df.describe()

,Year,Accumulated ocean plastic: Microplastics (<0.5cm),Yearly Microplastics Emission
count,101.000000,1.010000e+02,101.000000
mean,2000.000000,5.180168e+05,26264.356436
std,29.300171,7.085749e+05,31584.418893
min,1950.000000,0.000000e+00,0.000000
25%,1975.000000,1.080000e+04,1500.000000
50%,2000.000000,1.545000e+05,11600.000000
75%,2025.000000,7.873000e+05,42100.000000
max,2050.000000,2.652700e+06,114700.000000

In [4]:
df.isnull().any()

Year                                                 False
Accumulated ocean plastic: Microplastics (<0.5cm)    False
Yearly Microplastics Emission                        False
dtype: bool

In [5]:
df = df.loc[(df['Year'] >= 1975) & (df['Year'] <= 2000)]
df.insert(0, 'Time', range(1, 1 + len(df)))
df = df.drop(["Accumulated ocean plastic: Microplastics (<0.5cm)"], axis = 1)
df.head()

    Time  Year  Yearly Microplastics Emission
25     1  1975                           1500
26     2  1976                           1800
27     3  1977                           2000
28     4  1978                           2200
29     5  1979                           2500

In [6]:
df_cancer = pd.read_csv('cancer.csv')
df_cancer.head()

,Year,Bulgaria,Belarus,Canada,Chile,China,Colombia,Costa Rica,Croatia,Czechia,...,Spain,Sweden,Switzerland,Brazil,Thailand,Turkey,Uganda,Ukraine,UK,USA
0,1978,0,7364,0,0,0,0,0,0,0,...,0,15951,0,0,0,0,0,0,80691,93651
1,1979,0,7650,0,0,0,0,0,0,0,...,0,16301,0,0,0,0,0,0,83088,95971
2,1980,0,7933,0,0,0,0,0,0,0,...,0,16815,0,0,0,0,0,0,85412,98693
3,1981,0,8368,0,0,0,0,0,0,0,...,0,16843,0,0,0,0,0,0,87263,102263
4,1982,0,8792,0,0,0,0,1349,0,0,...,0,17400,0,0,0,0,0,0,87862,104376

In [ ]:
df_cancer = df

In [7]:
X = df
# X = X.reset_index().drop(columns = ["index","Year"])
X = X.reset_index().drop(columns = ["index","Year","Time"])

y = df_cancer['Cancer incidence']
y = y.reset_index().drop(columns = "index")
y = y.astype(float)

# Define the modell
X = sm.add_constant(X)
model = sm.OLS(y, X)

# Fit the model
model_fit = model.fit()

# Print the model summary
print(model_fit.summary())
# print(model_fit.rsquared)
# print(model_fit.rsquared_adj)
# print(model_fit.pvalues)
# print(model_fit.params)

KeyError: 'Cancer incidence'

In [ ]:
sb.regplot(x=X["Yearly Microplastics Emission"], y=y)

In [ ]:
male_df = pd.read_csv('bmi/male-bmi.csv')
male_df = male_df.loc[(male_df['Year'] >= 1975) & (male_df['Year'] <= 2000)]
male_df = male_df.groupby(['Year']).median()
male_df.head()

In [ ]:
female_df = pd.read_csv('bmi/female-bmi.csv')
female_df = female_df.loc[(female_df['Year'] >= 1975) & (female_df['Year'] <= 2000)]
female_df = female_df.groupby(['Year']).median()
female_df.head()

In [ ]:
gender_df = pd.read_excel('bmi/gender-ratio.xlsx')
gender_df["Male_Per"] = gender_df["Male"]/(gender_df["Male"] + gender_df["Female"])
gender_df["Female_Per"] = 1 - gender_df["Male_Per"]
gender_df = gender_df.loc[(gender_df['Year'] >= 1975) & (gender_df['Year'] <= 2000)]
gender_df.head()

In [ ]:
male_df = male_df.reset_index()
female_df = female_df.reset_index()
gender_df = gender_df.reset_index()

In [ ]:
bmi_df = pd.DataFrame()
bmi_df["Year"] = gender_df["Year"]
bmi_df["BMI"] = male_df["Mean BMI (male)"]*gender_df["Male_Per"] + female_df["Mean BMI (female)"]*gender_df["Female_Per"]

bmi_df.head()

In [ ]:
X = df
# X = X.reset_index().drop(columns = ["index","Year"])
X = X.reset_index().drop(columns = ["index","Year","Time"])

y = df_cancer['Cancer incidence']
y = y.reset_index().drop(columns = "index")
y = y.astype(float)

# Define the modell
X = sm.add_constant(X)
model = sm.OLS(y, X)

# Fit the model
model_fit = model.fit()

# Print the model summary
print(model_fit.summary())

In [ ]:
X = df
# X = X.reset_index().drop(columns = ["index","Year"])
X = X.reset_index().drop(columns = ["index","Year","Time"])

# bmi df refactoring
bmi_df = bmi_df.drop(columns = "Year")
bmi_df = bmi_df.reset_index()

X = pd.concat([X, bmi_df], axis = 1)
X = X.drop(columns = ["index"])

y = df_cancer['Cancer incidence']
y = y.reset_index().drop(columns = "index")
y = y.astype(float)

# Define the modell
X = sm.add_constant(X)
model = sm.OLS(y, X)

# Fit the model
model_fit = model.fit()

# Print the model summary
print(model_fit.summary())